div.sim-interface--grid {
	display: grid;
	margin:1rem 0;
	height: 95cqb;
	grid-auto-rows: 1.5rem;
	grid-template-areas:
	"actConfig"
	"deActConfig"
	"actFbLabel"
	"deActFbLabel"
	"manualLabel"
	"alarmLabel"
	"maskedLabel"
	"changingLabel"
	"submitButton"
	;
	gap: 1rem;
}

/* .sim-interface {

} */
