 /* Variables for Control component */
:root {
	--control-bg-color: var(--neutral-10);
	--control-bg-color-active: var(--warningSecondary);
	--control-border-color: #eef1f5;
	--control-color: var(--neutral-90);
	--control-border-radius: 4px;
	--control-border-width: 1px;
	--control-padding: 0.5rem;
}
.lif-valve-faceplate__control {
	grid-column: 2 / span 2;
	grid-row: 3 / span 1;
	display: grid;
	container-type: inline-size;
	grid-template-columns: minmax(60px,9fr) repeat(4, minmax(24px,1fr));
	grid-template-rows: repeat(auto, 1fr);
	align-items: center;
	justify-content: start;
	background-color: var(--control-bg-color);
	color: var(--control-color);
	/* border: var(--control-border-width) solid var(--control-border-color); */
	border-radius: var(--control-border-radius);
	box-shadow: var(--boxShadow1);
}
 .lif-valve-faceplate__control__main {
	grid-column: 1 / span 6;
	grid-row: 1 / span 1;
	display: grid;
	grid-template-columns: minmax(60px,9fr) repeat(4, minmax(24px,1fr));
	grid-template-rows: repeat(1,minmax(24px,1fr));
}
 .lif-valve-faceplate__control__upper-seat {
	grid-column: 1 / span 6;
	grid-row: 2 / span 1;
	display: grid;
	grid-template-columns: minmax(60px,9fr) repeat(4, minmax(24px,1fr));
	grid-template-rows: repeat(1,minmax(24px,1fr));
}
 .lif-valve-faceplate__control__lower-seat {
	grid-column: 1 / span 6;
	grid-row: 3 / span 1;
	display: grid;
	grid-template-columns: minmax(60px,9fr) repeat(4, minmax(24px,1fr));
	grid-template-rows: repeat(1,minmax(24px,1fr));
}

 .lif-valve-faceplate__control__main--label,
 .lif-valve-faceplate__control__upper-seat--label,
 .lif-valve-faceplate__control__lower-seat--label {
	grid-column: 1 / span 1;
	padding-top: 0.25rem;
}
.lif-valve-faceplate__control__main--auto-manual-group {
   grid-column: 2 / span 2;
   display: flex;
   align-items: center;
}
 .lif-valve-faceplate__control__main--off-on-group,
  .lif-valve-faceplate__control__upper-seat--off-on-group,
 .lif-valve-faceplate__control__lower-seat--off-on-group {
	grid-column: 4 / span 2;
	display: flex;
	align-items: center;
 }

div[class*="MuiToggleButtonGroup-root"] {
	container-type: size;

}
button.MuiButtonBase-root.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal.MuiToggleButton-root {
	/* Your styles here */
	padding: 0;
	margin: 0;
	border: none;
  }
button[class^="MuiToggleButtonBase-root"].MuiToggleButtonGroup-grouped svg {
	width: 100cqi;
	height: 100cqh;
	padding: 0;
	background: var(--control-bg-color);
}
button[class*=MuiButtonBase-root-MuiToggleButton-root].Mui-selected{
	&:hover {
		background: var(--control-bg-color-active);
	}
	background: var(--control-bg-color-active);
}
button[class*=MuiButtonBase-root-MuiToggleButton-root].Mui-selected[value="AUTO"]{
	color: var(--neutral-90);
}

