:root{
	--item-zindex: 0;
	--item-zindex-clicked:2;
}

.gridItemClickable .v1{
    grid-area: 2/2/7/7;
    border: solid var(--neutral-100);
    border-width: 2.1cqi;
    border-radius: 5cqi;
	z-index:-1;
	position:relative;
	pointer-events: none;
}

.gridItemClickable .v2{
    grid-area: 6/2/11/7;
    border: solid var(--neutral-20);
    border-width: 2.1cqi ;
    border-radius: 5cqi;
	position: relative;
	pointer-events: none;
	z-index:-2;
}
.gridItemClickable [class*="clicked"]{
	border: 2.1cqi solid var(--neutral-100);
}

.gridItemClickable .v1b1{
    grid-area: 2/4/5/5;
    background-color: var(--neutral-20);

}
.gridItemClickable .v1b2{
    grid-area: 4/4/5/7;
    background-color: var(--neutral-20);
}
.gridItemClickable .v1b3{
    grid-area: 4/4/7/5;
    background-color: var(--neutral-20);
}
.gridItemClickable .v1b4{
    grid-area: 4/2/5/5;
    background-color: var(--neutral-20);
}

.gridItemClickable .v2b1{
    grid-area: 6/4/9/5;
    background-color: var(--neutral-20);

}
.gridItemClickable .v2b2{
    grid-area: 8/4/9/7;
    background-color: var(--neutral-20);

}
.gridItemClickable .v2b3{
    grid-area: 8/4/11/5;
    background-color: var(--neutral-20);

}
.gridItemClickable .v2b4{
    grid-area: 8/2/9/5;
    background-color: var(--neutral-20);

	}

.gridItemClickable [class*="clicked"][class*="b"]{
  background-color: var(--neutral-100);
  opacity: 1;
  z-index: var(--item-zindex-clicked);

}




.gridItemClickable  [class*=visible] {
	visibility: visible;
 }
.gridItemClickable [class*=hidden] {
	visibility: hidden;
}

