:root{ /*Set up DevEnv Custom Variables */

	--grid--rows: 1fr;
	--grid--columns: 1fr 3fr 5fr;
	--_sidebar--grid-area-name: var(--component-view--grid-area-name, 'sidebar');
	--_sim-interface--grid-area-name: var(--sim-interface--grid-area-name, 'sim-interface');
	--_component-view--grid-area-name: var(--component-view--grid-area-name, 'component-view');

}

div.dev-env.wrapper {
	container-type: inline-size;
}

div.dev-env.grid{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 3fr 3fr;
	grid-template-areas:
	"sidebar sim-interface component-view"
	"sidebar sim-interface component-view"
	;
}

div.sidebar {
	grid-area: var(--_sidebar--grid-area-name);

}
form.sim-interface {
	grid-area: var(--_sim-interface--grid-area-name);
	container-type: inline-size;

}
div.component-view {
	grid-area: var(--_component-view--grid-area-name);

}
