:root {
	--hmi-po-border-color: var(--neutral-50);
	--hmi-po-segment-color: var(--neutral-50);
	--hmi-po-activated-color: var(--neutral-70);
	--hmi-po-changing-color: var(--neutral-50);
	--hmi-po-deactivated-color: var(--neutral-20);
	--hmi-po-manual-color: var(--qual-2);
	--hmi-po-no-alarm-mask-color: var(--neutral-30);
	--hmi-po-alarm-start-color: var(--error);
	--hmi-po-alarm-end-color: var(--neutral-20);
	/* itemId Popover Positions */
	--_itemid-popup-position-right:var(--itemid-popup-position-right, translate(35%,10%));
	--_itemid-popup-position-left:var(--itemid-popup-position-left, translate(-100%,10%));
	--_itemid-popup-position-top-right:var(--itemid-popup-position-top-right, translate(35%,-75%));
	--_itemid-popup-position-top-left:var(--itemid-popup-position-top-left, translate(-100%,-75%));
	--_itemid-popup-position-bottom-right:var(--itemid-popup-position-bottom-right, translate(35%,100%));
	--_itemid-popup-position-bottom-left:var(--itemid-popup-position-bottom-left, translate(-100%,100%));
	/* Default itemId Popover Position */
	--_itemid-popup-position:var(--_itemid-popup-position-bottom-left, translate(-100%,100%));

	--_locate-item: var(--locate-item, purple);
	--_locate-small-keyframe-height-step-0-100: var(
		--locate-small-keyframe-height-step-0-100,
		50%
	);
	--_locate-small-keyframe-height-step-50: var(
		--locate-small-keyframe-height-step-50,
		25%
	);
	--_locate-large-keyframe-height-step-0-100: var(
		--locate-large-keyframe-height-step-0-100,
		100%
	);
	--_locate-large-keyframe-height-step-50: var(
		--locate-large-keyframe-height-step-50,
		50%
	);
	--_locate-top: var(--locate-small-top, 27.5%);
	--_locate-large-top: var(--locate-large-top, 50%);
	/* Default locate keyframe heights */
	--_locate-keyframe-height-step-0-100: var(
		--_locate-small-keyframe-height-step-0-100,
		25%
	);
	--_locate-keyframe-height-step-50: var(
		--_locate-small-keyframe-height-step-50,
		50%
	);
	--_min-size-1: var(--min-size-1, 1fr);
	--_min-size-2: var(--min-size-2, 2fr);
	--_min-size-3: var(--min-size-3, 3fr);
	--_max-size-1: var(--max-size-1, 1fr);
	--_max-size-2: var(--max-size-2, 2fr);
	--_max-size-3: var(--max-size-3, 3fr);
}
/* NDJH ValveTemplate - Start
*/
/* hmi symbolComponent Wrappers */

div.hmi-component {
	container-type: inline-size;
	font-size: 14px;
	aspect-ratio: 5/10;
	overflow: hidden;
}
.hmi-component__column {
	display: flex;
	flex-direction: column;
	align-self: center;
}
.hmi-component__row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 1 1 100px;
}
.hmi-Component__wrapper {
	display: flex;
	position: relative;
}
.hmi-component-valve__mp {
	display: grid;
	height: 40cqmax;
	width: 40cqmax;
	container-type: inline-size;
	grid-template-columns:
		minmax(var(--_min-size-1), var(--_max-size-1)) minmax(
			var(--_min-size-3),
			var(--_max-size-3)
		)
		minmax(var(--_min-size-2), var(--_max-size-2)) minmax(
			var(--_min-size-3),
			var(--_max-size-3)
		)
		minmax(var(--_min-size-1), var(--_max-size-1));
	grid-template-rows:
		minmax(var(--_min-size-2), var(--_max-size-2)) minmax(
			var(--_min-size-1),
			var(--_max-size-1)
		)
		minmax(var(--_min-size-3), var(--_max-size-3))
		minmax(var(--_min-size-2), var(--_max-size-2))
		minmax(var(--_min-size-3), var(--_max-size-3)) minmax(
			var(--_min-size-1),
			var(--_max-size-1)
		)
		minmax(var(--_min-size-3), var(--_max-size-3))
		minmax(var(--_min-size-2), var(--_max-size-2))
		minmax(var(--_min-size-3), var(--_max-size-3)) minmax(
			var(--_min-size-1),
			var(--_max-size-1)
		)
		minmax(var(--_min-size-2), var(--_max-size-2));
}
.hmi-component-valve__mp .locate.large {
	--_locate-top: var(--_locate-large-top);

	--_locate-keyframe-height-step-0-100: var(
		--_locate-large-keyframe-height-step-0-100
	);
	--_locate-keyframe-height-step-50: var(
		--_locate-large-keyframe-height-step-50
	);
}

.hmi-component-valve__mp .locate {
	position: absolute;
	top: var(--_locate-top);
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--_locate-item);
	z-index: 20;
	opacity: 0.5;
	border: solid var(--neutral-50);
	border-radius: 0%;
	animation-name: locate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.hmi-component-valve.wrapper {
	grid-area: 4 / 3 / 11 / 6;
	justify-self: center;
	align-self: center;
}
.hmi-component-valve.wrapper .label {
	font-size: 10cqi;
	font-weight: bold;
	border-radius: 12cqi;
	background-color: var(--neutral-50);
	padding: 2cqi;
}

.hmi-component-valve__mp .usl {
	grid-area: 1/2/2/5;
	background-color: var(--hmi-po-activated-color);
	border: solid var(--hmi-po-border-color);
	border-width: 5cqi;
	border-radius: 5cqi;
	stroke-width: 5cqi;
}
.hmi-component-valve__mp .lsl {
	grid-area: 11/2/12/5;
	background-color: var(--hmi-po-activated-color);
	border: solid var(--hmi-po-border-color);
	border-width: 5cqi;
	border-radius: 5cqi;
	stroke-width: 5cqi;
}

.hmi-component-valve__mp .v1 {
	grid-area: 1/1/7/6;
	border: solid var(--hmi-po-border-color);
	border-width: 5cqi;
	border-radius: 5cqi;
	stroke-width: 5cqi;
}

.hmi-component-valve__mp .v2 {
	grid-area: 6/1/12/6;

	border-top: solid transparent;
	border-bottom: solid var(--hmi-po-border-color);
	border-inline: solid var(--hmi-po-border-color);
	border-width: 5cqi;
	border-radius: 5cqi;
}
.hmi-component-valve__mp .v1b1 {
	grid-area: 1/3/5/4;
	background-color: var(--hmi-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v1b2 {
	grid-area: 3/3/4/6;
	background-color: var(--hmi-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v1b3 {
	grid-area: 4/3/7/4;
	background-color: var(--hmi-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v1b4 {
	grid-area: 3/1/4/4;
	background-color: var(--hmi-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v2b1 {
	grid-area: 7/3/9/4;
	background-color: var(--hmi-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v2b2 {
	grid-area: 9/3/10/6;
	background-color: var(--hmi-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v2b3 {
	grid-area: 8/3/12/4;
	background-color: var(--hmi-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v2b4 {
	grid-area: 9/1/10/4;
	background-color: var(--hmi-po-segment-color);
	z-index: 1;
}

.hmi-component-valve__mp [class*="Activated"] {
	background-color: var(--hmi-po-activated-color);
	fill: var(--hmi-po-activated-color);
}

.hmi-component-valve__mp [class*="Changing"] {
	background-color: var(--hmi-po-changing-color);
	fill: var(--hmi-po-changing-color);
}

.hmi-component-valve__mp [class*="Deactivated"] {
	background-color: var(--hmi-po-deactivated-color);
	fill: var(--hmi-po-deactivated-color);
}

.hmi-component-valve__mp [class*="Manual"] {
	background-color: var(--hmi-po-manual-color);
	fill: var(--hmi-po-deactivated-color);
}

.hmi-component-valve__mp [class*="NoAlarmMask"] {
	stroke: var(--hmi-po-no-alarm-mask-color);
	stroke-width: 2.1cqi;
}
.hmi-component-valve__mp [class*="show"] {
	visibility: visible;
}
.hmi-component-valve__mp [class*="hide"] {
	visibility: hidden;
}

@keyframes AlarmState-anim {
	0% {
		border-color: var(--hmi-po-alarm-start-color);
		border-width: 2.1cqi;
		/* stroke: #000000;
    stroke-width: 2.1cqi; */
	}
	100% {
		border-color: var(--hmi-po-alarm-end-color);
		border-width: 5cqi;
		/* stroke: var(--error);
    stroke-width: 5.0cqi; */
	}
}
.AlarmState {
	animation-name: AlarmState-anim;
	animation-delay: 0s;
	animation-direction: reverse;
	animation-duration: 0.75s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hmi-component-valve__mp .v2.AlarmState {
	border-top: transparent;
}

@keyframes locate {
	0% {
		width: 100%;
		height: var(--_locate-keyframe-height-step-0-100);
	}
	50% {
		width: 50%;
		height: var(--_locate-keyframe-height-step-50);
	}
	100% {
		width: 100%;
		height: var(--_locate-keyframe-height-step-0-100);
	}
}


:where(.itemId.popover) {
	position: absolute;
	visibility: visible;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 20%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	z-index: 1000;

	&.position-left {
		--_itemid-popup-position: var(--_itemid-popup-position-left);
	}
	&.position-right {
		--_itemid-popup-position: var(--_itemid-popup-position-right);
	}
	&.position-top-left {
		--_itemid-popup-position: var(--_itemid-popup-position-top-left);
	}
	&.position-top-right {
		--_itemid-popup-position: var(--_itemid-popup-position-top-right);
	}
	&.position-bottom-left {
		--_itemid-popup-position: var(--_itemid-popup-position-bottom-left);
	}
	&.position-bottom-right {
		--_itemid-popup-position: var(--_itemid-popup-position-bottom-right);
	}

	transform: var(--_itemid-popup-position);
}
/* NDJH ValveTemplate - End
 */


.wavy-line {
  --mask:
    radial-gradient(14.31px at 50% calc(100% + 8px),#0000 calc(99% - 3px),#000 calc(101% - 3px) 99%,#0000 101%) calc(50% - 20px) calc(50% - 6.5px + .5px)/40px 13px repeat-x,
    radial-gradient(14.31px at 50% -8px,#0000 calc(99% - 3px),#000 calc(101% - 3px) 99%,#0000 101%) 50% calc(50% + 6.5px)/40px 13px repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
