:root {
	--hmi-po-border-color: var(--neutral-50);
	--hmi-po-segment-color: var(--neutral-50);
	--hmi-po-activated-color: var(--neutral-70);
	--hmi-po-changing-color: var(--neutral-50);
	--hmi-po-deactivated-color: var(--neutral-20);
	--hmi-po-manual-color: var(--qual-2);
	--hmi-po-no-alarm-mask-color: var(--neutral-30);
	--hmi-po-alarm-start-color: var(--error);
	--hmi-po-alarm-end-color: var(--neutral-20);
	--_pump-border-width: var(--pump-border-width, 5cqi);
	--_pump-border-width-sm: var(--pump-border-width-sm, 2.5cqi);

	--_pump-size: var(--pump-size, 100cqmin);
	/* itemId Popover Positions */
	--_itemid-popup-position-right: var(
		--itemid-popup-position-right,
		translate(35%, 10%)
	);
	--_itemid-popup-position-left: var(
		--itemid-popup-position-left,
		translate(-100%, 10%)
	);
	--_itemid-popup-position-top-right: var(
		--itemid-popup-position-top-right,
		translate(35%, -75%)
	);
	--_itemid-popup-position-top-left: var(
		--itemid-popup-position-top-left,
		translate(-100%, -75%)
	);
	--_itemid-popup-position-bottom-right: var(
		--itemid-popup-position-bottom-right,
		translate(35%, 100%)
	);
	--_itemid-popup-position-bottom-left: var(
		--itemid-popup-position-bottom-left,
		translate(-100%, 100%)
	);
	/* Default itemId Popover Position */
	--_itemid-popup-position: var(
		--_itemid-popup-position-bottom-left,
		translate(-100%, 100%)
	);

	--_locate-item-color: var(--locate-item-color, purple);

	--_locate-pump-keyframe-height-step-0-100: var(
		--locate-pump-keyframe-height-step-0-100,
		100%
	);
	--_locate-pump-keyframe-height-step-50: var(
		--locate-pump-keyframe-height-step-50,
		50%
	);
	--_locate-top: var(--locate-pump-top, 50%);

	/* Default locate keyframe heights */
	--_min-size-1: var(--min-size-1, 1fr);
	--_min-size-2: var(--min-size-2, 2fr);
	--_min-size-3: var(--min-size-3, 3fr);
	--_max-size-1: var(--max-size-1, 1fr);
	--_max-size-2: var(--max-size-2, 2fr);
	--_max-size-3: var(--max-size-3, 3fr);
}
/* NDJH ValveTemplate - Start
*/
/* hmi symbolComponent Wrappers */
/**
For the hmi-component to be responsive in a ia_container--root
add the container-type: inline-size declaration.
*/

.ia_container--root.flex-container.responsive-container:has(.hmi-component) {
	container-type: inline-size;
}

.hmi-component {
	container-type: inline-size;
	overflow: hidden;
	&.hmi-component__column {
		display: flex;
		flex-direction: column;
		align-self: center;
	}
	&.hmi-component__row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex: 1 1 100px;
	}
	&.hmi-Component__wrapper {
		display: flex;
		position: relative;
	}
	&.pump {
		position: relative;
		width: var(--_pump-size);
		aspect-ratio: 1;
	}
	& .hmi-component-pump {
		width: var(--_pump-size);
		aspect-ratio: 1;
		display: grid;
		container-type: inline-size;
		grid-template-columns: repeat(10, 10cqmin);
		grid-template-rows: repeat(10, 10cqmin);

		/* child elements of hmi-component-pump */
		& .locate {
			--_locate-top: var(--_locate-large-top);
			position: absolute;
			top: var(--_locate-top);
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: var(--_locate-item-color);
			z-index: 20;
			opacity: 0.5;
			border: solid var(--neutral-50);
			border-radius: 50%;
			animation-name: locate;
			animation-duration: 1s;
			animation-iteration-count: infinite;
		}
		& .base-1 {
			grid-area: 1/1/-1/-1;
			border-width: 2cqi;
			border: var(--_pump-border-width) solid var(--hmi-po-border-color);
			border-radius: 100cqi;
		}
		& .base-2 {
			grid-area: 1/6/6/-1;
			background: linear-gradient(
				45deg,
				transparent 47%,
				var(--hmi-po-border-color) 50%,
				transparent 53%
			);
			background-size: 200% 200%; /* Makes the gradient larger or smaller */
			background-position: 92% 84%; /* Moves the gradient within the cell */
		}
		& .base-3 {
			grid-area: -1/6/6/-1;
			background: linear-gradient(
				135deg,
				transparent 47%,
				var(--hmi-po-border-color) 50%,
				transparent 53%
			);
			background-size: 200% 200%; /* Makes the gradient larger or smaller */
			background-position: 32% 75%; /* Moves the gradient within the cell */
		}
		& .symbol-1.centrifugal {
			grid-area: 5/1/7/-1;
			background: linear-gradient(
				0deg,
				transparent 47%,
				var(--hmi-po-border-color) 50%,
				transparent 53%
			);
			background-size: 800% 800%; /* Makes the gradient larger or smaller */
			background-position: 0% 50%; /* Moves the gradient within the cell */
		}
		& .symbol-1.diaphragm {
			/* diaphragm */
			grid-area: 1/3/-1/6;
			background: var(--hmi-po-border-color);
			--mask: radial-gradient(
					55cqmin at 200% 50%,
					#0000 calc(99% - 4cqmin),
					#000 calc(101% - 1cqmin) 101%,
					#0000 101%
				)
				content-box border-box 50% 50% / 100% 100%;

			-webkit-mask: var(--mask);
			mask: var(--mask);
		}
		& .symbol-1.gear {
			/* gear */
			grid-area: 5/4/9/8;
			border-color: var(--hmi-po-border-color);
			border-radius: 50%;
			border-width: var(--_pump-border-width-sm);
			background-color: var(--containerRoot);
		}
		& .symbol-2.gear {
			/* gear */
			grid-area: 3/4/7/8;
			border-color: var(--hmi-po-border-color);
			border-radius: 50%;
			border-width: var(--_pump-border-width-sm);
			z-index: 1;
			background-color: var(--containerRoot);
		}
		& .symbol-1.positive-displacment {
			/* positive displacement */
			grid-area: 5/5/7/7;
			border: var(--_pump-border-width-sm) solid var(--hmi-po-border-color);
		}
		& .symbol-1.liquid-ring {
			/* liquid ring */
			grid-area: 3/2/5/8;
			background: var(--hmi-po-border-color);
			--mask: radial-gradient(
					36cqi at 50% -85%,
					#0000 calc(99% - 5cqmin),
					#000 calc(101% - 1cqmin) 101%,
					#0000 101%
				)
				content-box border-box 50% 50% / 100% 100%;

			-webkit-mask: var(--mask);
			mask: var(--mask);
		}
		& .symbol-2.liquid-ring {
			/* liquid ring */
			grid-area: 9/2/7/8;
			background: var(--hmi-po-border-color);
			--mask: radial-gradient(
					36cqi at 50% 190%,
					#0000 calc(99% - 5cqi),
					#000 calc(101% - 1cqi) 101%,
					#0000 101%
				)
				content-box border-box 50% 50% / 100% 100%;

			-webkit-mask: var(--mask);
			mask: var(--mask);
		}
		& .symbol-1.progressive-cavity {
			/* cavity */
			grid-area: 5/2/7/8;
			background: var(--hmi-po-border-color);
			--mask: radial-gradient(
						6.9cqi at 50% calc(50% + 4cqi),
						#0000 calc(99% - 2cqi),
						#000 calc(101% - 2cqi) 102%,
						#0000 101%
					)
					11% calc(50% - 4cqi) / 24cqi 8cqi repeat-x,
				radial-gradient(
						6.9cqi at 50% calc(50% - 4cqi),
						#0000 calc(99% - 2cqi),
						#000 calc(101% - 2cqi) 102%,
						#0000 101%
					)
					44% calc(50% + 4cqi) / 24cqi 8cqi repeat-x;
			-webkit-mask: var(--mask);
			mask: var(--mask);
		}
		& .symbol-1.positive-screw {
			/* screw */
			grid-area: 4/2/6/8;
			background: var(--hmi-po-border-color);
			--mask: radial-gradient(
						6.9cqi at 50% calc(50% + 4cqi),
						#0000 calc(99% - 2cqi),
						#000 calc(101% - 2cqi) 102%,
						#0000 101%
					)
					11% calc(50% - 4cqi) / 24cqi 8cqi repeat-x,
				radial-gradient(
						6.9cqi at 50% calc(50% - 4cqi),
						#0000 calc(99% - 2cqi),
						#000 calc(101% - 2cqi) 102%,
						#0000 101%
					)
					44% calc(50% + 4cqi) / 24cqi 8cqi repeat-x;
			-webkit-mask: var(--mask);
			mask: var(--mask);
		}
		& .symbol-2.positive-screw {
			/* screw */
			grid-area: 6/2/8/8;
			background: var(--hmi-po-border-color);
			--mask: radial-gradient(
						6.9cqi at 50% calc(50% + 4cqi),
						#0000 calc(99% - 2cqi),
						#000 calc(101% - 2cqi) 102%,
						#0000 101%
					)
					11% calc(50% - 4cqi) / 24cqi 8cqi repeat-x,
				radial-gradient(
						6.9cqi at 50% calc(50% - 4cqi),
						#0000 calc(99% - 2cqi),
						#000 calc(101% - 2cqi) 102%,
						#0000 101%
					)
					44% calc(50% + 4cqi) / 24cqi 8cqi repeat-x;
			-webkit-mask: var(--mask);
			mask: var(--mask);
		}
	}
}

div.hmi-component .hmi-component-pump {
	& [class*="Activated"] {
		background-color: var(--hmi-po-activated-color);
		fill: var(--hmi-po-activated-color);
	}
	& [class*="Changing"] {
		background-color: var(--hmi-po-changing-color);
		fill: var(--hmi-po-changing-color);
	}
	& [class*="Deactivated"] {
		background-color: var(--hmi-po-deactivated-color);
		fill: var(--hmi-po-deactivated-color);
	}
	& [class*="Manual"] {
		background-color: var(--hmi-po-manual-color);
		fill: var(--hmi-po-deactivated-color);
	}
	& [class*="NoAlarmMask"] {
		border: 10cqi dashed var(--hmi-po-no-alarm-mask-color);
	}
}

.hmi-component-pump [class*="show"] {
	visibility: visible;
}
.hmi-component-pump [class*="hide"] {
	visibility: hidden;
}

@keyframes AlarmState-anim {
	0% {
		border-color: var(--hmi-po-alarm-start-color);
		border-width: 2.1cqi;
		/* stroke: #000000;
    stroke-width: 2.1cqi; */
	}
	100% {
		border-color: var(--hmi-po-alarm-end-color);
		border-width: 5cqi;
		/* stroke: var(--error);
    stroke-width: 5.0cqi; */
	}
}
.AlarmState {
	animation-name: AlarmState-anim;
	animation-delay: 0s;
	animation-direction: reverse;
	animation-duration: 0.75s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes locate {
	0% {
		width: 100%;
		height: var(--_locate-pump-keyframe-height-step-0-100);
	}
	50% {
		width: 50%;
		height: var(--_locate-pump-keyframe-height-step-50);
	}
	100% {
		width: 100%;
		height: var(--_locate-pump-keyframe-height-step-0-100);
	}
}

:where(.itemId.popover) {
	position: absolute;
	visibility: visible;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 20%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	z-index: 1000;

	&.position-left {
		--_itemid-popup-position: var(--_itemid-popup-position-left);
	}
	&.position-right {
		--_itemid-popup-position: var(--_itemid-popup-position-right);
	}
	&.position-top-left {
		--_itemid-popup-position: var(--_itemid-popup-position-top-left);
	}
	&.position-top-right {
		--_itemid-popup-position: var(--_itemid-popup-position-top-right);
	}
	&.position-bottom-left {
		--_itemid-popup-position: var(--_itemid-popup-position-bottom-left);
	}
	&.position-bottom-right {
		--_itemid-popup-position: var(--_itemid-popup-position-bottom-right);
	}

	transform: var(--_itemid-popup-position);
}
/* NDJH ValveTemplate - End
 */
