

.con_line {
    marker-start: url(#marker_start);
    marker-mid: url(#marker_mid);
    marker-end: url(#marker_end);
    stroke: var(--con-line-clr);
    stroke-width: var(--con-line-width);
    fill: none;
}

.text_start {
    font-family: var(--font-family);
    font-size: var(--font-size);
    fill: var(--text-clr);
}
.text_end {
    font-family: var(--font-family);
    font-size: var(--font-size);
    fill: var(--text-clr);
}
.marker_start {
    fill: var(--marker-start-clr);
    stroke: var(--marker-start-clr);
}
.marker_mid {
    fill: var(--marker-mid-clr);
    stroke: var(--marker-mid-clr);
}
.marker_end {
    fill: var(--marker-end-clr);
    stroke: var(--marker-end-clr);
}