:root{
	--lif-po-border-color: var(--neutral-50);
	--lif-po-segment-color: var(--neutral-50);
	--lif-po-activated-color: var(--neutral-70);
	--lif-po-changing-color: var(--neutral-50);
	--lif-po-deactivated-color: var(--neutral-20);
	--lif-po-manual-color: var(--qual-2);
	--lif-po-no-alarm-mask-color: var(--neutral-30);
	--lif-po-alarm-start-color: var(--error);
	--lif-po-alarm-end-color: var(--neutral-20);
	--_min-size-1: var(--min-size-1, 5px);
	--_min-size-2: var(--min-size-2, 10px);
	--_min-size-3: var(--min-size-3, 15px);
	--_max-size-1: var(--max-size-1, 5px);
	--_max-size-2: var(--max-size-2, 10px);
	--_max-size-3: var(--max-size-3, 15px);
}
/* NDJH ValveTemplate - Start
 */
 /* lif symbolComponent Wrappers */
 .hmi-component {
	 container-type: inline-size;
	 /* grid-template-rows: subgrid;
	 grid-template-columns: subgrid; */
	/* display: flex;
	flex: 0 1 auto; */
	/* flex-direction: column; */
	font-size: 14px;
	aspect-ratio: 5/10;
	overflow: hidden;
 }
 .hmi-component__column {
    display: flex;
    flex-direction: column;
    align-self: center;
 } /* TODO: complete Flex Wrappers */
 .hmi-component__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
	flex: 1 1 100px;
 }
 .hmi-Component__wrapper{
    display: flex;
    position: relative;
 }
.hmi-component-valve__mp{
    display: grid;
	height: 40cqmax;
	width: 40cqmax;
    container-type: inline-size;
    grid-template-columns:
	minmax(var(--_min-size-1),var(--_max-size-1)) minmax(var(--_min-size-3),var(--_max-size-3))
	minmax(var(--_min-size-2),var(--_max-size-2)) minmax(var(--_min-size-3),var(--_max-size-3))
	minmax(var(--_min-size-1),var(--_max-size-1));
    grid-template-rows:
	minmax(var(--_min-size-2),var(--_max-size-2)) minmax(var(--_min-size-1),var(--_max-size-1)) minmax(var(--_min-size-3),var(--_max-size-3))
	minmax(var(--_min-size-2),var(--_max-size-2))
	minmax(var(--_min-size-3),var(--_max-size-3)) minmax(var(--_min-size-1),var(--_max-size-1))
	minmax(var(--_min-size-3),var(--_max-size-3))
	minmax(var(--_min-size-2),var(--_max-size-2))
	minmax(var(--_min-size-3),var(--_max-size-3)) minmax(var(--_min-size-1),var(--_max-size-1))
	minmax(var(--_min-size-2),var(--_max-size-2));
}

.hmi-component-valve.wrapper{
    grid-area: 4 / 3 / 11 / 6;
    justify-self: center;
    align-self: center;

}
.hmi-component-valve.wrapper .label{
	font-size: 10cqi;
	font-weight: bold;
	border-radius: 12cqi;
	background-color: var(--neutral-50);
	padding: 2cqi;
}


.hmi-component-valve__mp .v1 {
	grid-area: 2/1/7/6;
	border: solid var(--lif-po-border-color);
	border-width: 2.1cqi;
	border-radius: 5cqi;
	stroke-width: 5cqi;
}

.hmi-component-valve__mp .v2
 {
	grid-area: 6/1/11/6;

	border-top: solid transparent;
	border-bottom: solid var(--lif-po-border-color);
	border-inline: solid var(--lif-po-border-color);
	border-width: 2.1cqi;
	border-radius: 5cqi;
}
.hmi-component-valve__mp .usl {
	grid-area: 1/2/2/5;
	background-color: var(--lif-po-activated-color);
}
.hmi-component-valve__mp .lsl {
	grid-area: 11/2/12/5;
	background-color: var(--lif-po-activated-color);
}
.hmi-component-valve__mp .v1b1 {
	grid-area: 2/3/5/4;
	background-color: var(--lif-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v1b2 {
	grid-area: 4/3/5/6;
	background-color: var(--lif-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v1b3 {
	grid-area: 4/3/7/4;
	background-color: var(--lif-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v1b4 {
	grid-area: 4/1/5/4;
	background-color: var(--lif-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v2b1 {
	grid-area: 7/3/9/4;
	background-color: var(--lif-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v2b2 {
	grid-area: 8/3/9/6;
	background-color: var(--lif-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v2b3 {
	grid-area: 8/3/11/4;
	background-color: var(--lif-po-segment-color);
	z-index: 1;
}
.hmi-component-valve__mp .v2b4 {
	grid-area: 8/1/9/4;
	background-color: var(--lif-po-segment-color);
	z-index: 1;
}

.hmi-component-valve__mp [class*="Activated"] {
	background-color: var(--lif-po-activated-color);
	fill: var(--lif-po-activated-color);
}

.hmi-component-valve__mp [class*="Changing"] {
	background-color: var(--lif-po-changing-color);
	fill: var(--lif-po-changing-color);
}

.hmi-component-valve__mp [class*="Deactivated"] {
	background-color: var(--lif-po-deactivated-color);
	fill: var(--lif-po-deactivated-color);
}

.hmi-component-valve__mp [class*="Manual"] {
	background-color: var(--lif-po-manual-color);
	fill: var(--lif-po-deactivated-color);
}

.hmi-component-valve__mp [class*="NoAlarmMask"] {
	stroke: var(--lif-po-no-alarm-mask-color);
	stroke-width: 2.1cqi;
}
.hmi-component-valve__mp [class*="show"] {
	visibility: visible;
}
.hmi-component-valve__mp [class*="hide"] {
	visibility: hidden;
}

@keyframes AlarmState-anim {
	0% {
		border-color: var(--lif-po-alarm-start-color);
		border-width: 2.1cqi;
		/* stroke: #000000;
    stroke-width: 2.1cqi; */
	}
	100% {
		border-color: var(--lif-po-alarm-end-color);
		border-width: 5cqi;
		/* stroke: var(--error);
    stroke-width: 5.0cqi; */
	}
}
.AlarmState {
	animation-name: AlarmState-anim;
	animation-delay: 0s;
	animation-direction: reverse;
	animation-duration: 0.75s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hmi-component-valve__mp .v2.AlarmState {
	border-top: transparent;
}


.hmi-component-valve__mp .circle.v1{
    grid-area: 2 / 1 / 7 / -1;
    background-color: yellow;
	overflow: visible;
    opacity: 50%;
    border: solid var(--neutral-50);
    border-radius: 50%;
    border-width: 0cqi;
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    place-self: center;

}
 .hmi-component-valve__mp .circle.v2{
    grid-area: 6 / 1 / -1 / -1;
    background-color: yellow;
    opacity: 50%;
    border: solid var(--neutral-50);
    border-radius: 50%;
    border-width: 0cqi;
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    place-self: center;
}
.hmi-component-valve .circle.v3{
    grid-area: 1 / 1 / -1 / -1;
    background-color: yellow;
    opacity: 50%;
    border: solid var(--neutral-50);
    border-radius: 90cqi;
    border-width: 0.1cqi;
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    place-self: center;
    margin-right: 18cqi;
}
@keyframes circle {
  0%   {width:150%; height:150%;}
  50%  {width:50%; height:50%;}
  100% {width:150%; height:150%;}
}
/* NDJH ValveTemplate - End
 */
